[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/venv/bin/uwsgi -i /srv/mysite/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotiffyAccess=all

[Install]
WantedBy=multi-user.target
